body {
  background-color: #121212;
  color: #e8e8e8;
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 20px;
}

code {
  background: #333;
  padding: 2px 4px;
  border-radius: 4px;
}

input,
textarea {
  background-color: #1e1e1e;
  color: #eee;
}
